ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}
ul li a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: white;
}
a:hover{
    color: white;
    background-color: grey;
    transition-duration: 0.5s;
}
