@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*      HEADER       */
header{
    background-color: rgba(236, 229, 164, 0.612);
    grid-area: header;
    width: 100%;
    height: 50vh;
}
.ulHeader{
    text-align: end;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
}

/*      MAIN       */
.tituloInicial{
    color: cornflowerblue;
    font-weight:normal;
    font-size: 40px;
    grid-area: tituloInicial;
}
h1{
    color: forestgreen;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    line-height:normal;
    letter-spacing:-1px;
    text-transform: capitalize;
    word-spacing: -1px;
    padding: 20px;
    margin: 40px 20px 40px 20px;
    border: 10px rgb(221, 143, 40);
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: forestgreen;

}
h3{
    font-family: 'Open Sans', sans-serif;
    color: forestgreen;
}
img{
    align-content:center;
    margin-top: 40px;
    margin-bottom: 40px;
}
iframe{
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


main{
    background-color: rgb(212, 90, 90);
    grid-area: main;
    display: flex;
    width: 100%;
    height: 100vh;
}

aside{
    grid-area: publicidad;
}

/*      FOOTER       */
footer{
    background-color: rgba(236, 229, 164, 0.612);
    margin-top: 40px;
    width: 100%;
    height: 50vh;
    grid-area: footer;
    display: flex;
}

/*      FIN FOOTER       */


.grillaBodyCursos {
    display: grid;
    width: 100%;
    grid-template-areas: 
    "header         header          header"
    "tituloInicial  tituloInicial   publicidad"
    "main           main            publicidad"
    "footer         footer          footer";
    grid-template-columns: 20%  auto  15%;
    grid-template-rows: 100px 0,5fr 4fr 100px;
    gap: 10px;
}

.cursosContainer{
    background-color: blue;
    display: flex
}

.cursos{
    background-color: yellow;
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.grillaBodyHome {
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-areas: 
    "header         header          header"
    "tituloInicial  tituloInicial   publicidad"
    "main           main            publicidad"
    "footer         footer          footer";
    grid-template-columns: 20%  auto  15%;
    grid-template-rows: 100px 0,5fr 4fr 100px;

}

.homeContainer{
    background-color: blue;
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 20rem;
    flex-wrap: wrap;
}

.imgHome{
    background-color: yellow;
    display:flex;
    align-items: flex-start;
    width: 100%;
    height: 50vh;
}







